@font-face {
  font-family: 'Gothamrounded';
  src: url('../fonts/book/gothamrounded-book-webfont.eot');
  src: url('../fonts/book/gothamrounded-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/book/gothamrounded-book-webfont.woff') format('woff'),
       url('../fonts/book/gothamrounded-book-webfont.ttf') format('truetype'),
       url('../fonts/book/gothamrounded-book-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gothamrounded';
  src: url('../fonts/medium/gothamrounded-medium-webfont.eot');
  src: url('../fonts/medium/gothamrounded-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/medium/gothamrounded-medium-webfont.woff') format('woff'),
       url('../fonts/medium/gothamrounded-medium-webfont.ttf') format('truetype'),
       url('../fonts/medium/gothamrounded-medium-webfont.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gothamrounded';
  src: url('../fonts/light/gothamrounded-light-webfont.eot');
  src: url('../fonts/light/gothamrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/light/gothamrounded-light-webfont.woff') format('woff'),
       url('../fonts/light/gothamrounded-light-webfont.ttf') format('truetype'),
       url('../fonts/light/gothamrounded-light-webfont.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gothamrounded';
  src: url('../fonts/mediumitalic/gothamrounded-mediumitalic-webfont.eot');
  src: url('../fonts/mediumitalic/gothamrounded-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mediumitalic/gothamrounded-mediumitalic-webfont.woff') format('woff'),
       url('../fonts/mediumitalic/gothamrounded-mediumitalic-webfont.ttf') format('truetype'),
       url('../fonts/mediumitalic/gothamrounded-mediumitalic-webfont.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GothamroundedBold';
  src: url('../fonts/bold/gothamrounded-bold-webfont.eot');
  src: url('../fonts/bold/gothamrounded-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bold/gothamrounded-bold-webfont.woff') format('woff'),
       url('../fonts/bold/gothamrounded-bold-webfont.ttf') format('truetype'),
       url('../fonts/bold/gothamrounded-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}