*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: 100% 745px;
  background-size: 100% 745px;
  
  @media all and (min-width: 1490px) {
    -webkit-background-size: 1490px 745px;
    background-size: 1490px 745px;
  }
}

.container {
  width: 1280px;
  margin: auto;
}

.promo {
  height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo__nav {
  margin: 0 auto 0 272px;
}

.promo__nav > ul {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
  width: 760px;
}

.promo__nav > ul > li > a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'GothamroundedBold';
  font-size: 1rem;
  margin: 31px 63px 0 0px;
  letter-spacing: 2.5px;
}

.promo__nav > ul > li > a:hover {
  color: #999;
}

.promo__logo {
  margin: 0 98px 0 36px;
}

.promo__nav > ul > li:last-child > a {
  margin-left: 12px;
}

.promo__info {
  padding-top: 20px;
  margin: -5px auto 0 auto;
  text-align: center;
  width: 504px;
}

.promo__info h1 {
  color: #fff;
  font-size: 2.25rem;
  font-family: 'GothamroundedBold';
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 5px;
  margin-bottom: 13px;
}

.promo__info p {
  font-size: 1rem;
  font-family: 'GothamroundedMedium';
  font-weight: 100;
  color: #fff;
  margin-bottom: 27px;
  word-spacing: 2.5px;
  letter-spacing: 2.2px;
}

.button {
  background-color: #16a086;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px 18px 30px;
  border-radius: 3px;
  font-size: .75rem;
  font-family: 'GothamroundedBold';
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1.8px;
}

.button:hover {
  background-color: #109076
}

.promo__social-links > ul {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  border-bottom: #3a333b solid 1px;
}

.promo__social-links > ul > li {
  margin: 0 8px;
  position: relative;
  width: 23px;
  height: 20px;
}

.promo__social-links > ul > li > a {
  display: block;
  text-indent: 999999px;
  overflow: hidden;
  text-decoration: none;
  width: inherit;
  height: inherit;
  transition: transform ease .5s;
  -webkit-background-size: contain;
  background-size: contain;
}

.promo__social-links > ul > li:nth-child(1) > a {
  background-image: url('../img/tw.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.promo__social-links > ul > li:nth-child(2) > a {
  background-image: url('../img/fl.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.promo__social-links > ul > li:nth-child(3) > a {
  background-image: url('../img/dr.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.promo__social-links > ul > li > a:hover {
  transform: rotateZ(360deg);
}